div.overlay-new-task{
   position: fixed;
   inset: 0px;
   background-color: rgb(56, 56, 56, 0.7);    
}


div.dialog-content{
   left: 50%;
   top: 50%;
   position: absolute;
   width: fit-content;        
   transform: translate(-50%, -50%);    
   outline: 0;
}

section.modal-content{
   background-color: var(--primary-color);
   padding: 1rem;
   color: var(--primary-color-text);
   display: flex;
   flex-direction: column;
   row-gap: 1rem;
   align-items: flex-start;
   width: 23rem;
}


label.modal-title{
   text-align: center;
   width: 100%;
}

div.modal-start{
   width: 100%;
   display: flex;
   flex-direction: column;
   row-gap: 0.5rem;
}


div.confirm-buttons{
   display: flex;
   flex-direction: row-reverse;
   justify-content: flex-start;
   width: 100%;
   column-gap: 0.5rem;
}

button.save-task{
   min-width: 7rem;
}

div.parent-info{
   align-items: flex-start;
   background-color: var(--primary-color-4);
   padding: 1rem;
   width: calc(100% - 2rem);
}

div.parent-info h3{
   font-size: 0.75rem;

}


@media screen  and (max-width: 420px) {
   section.modal-content{
      width: calc(100vw - 2rem);
   }

}