header.app-header{
   display: flex;
   flex-direction: row;
   padding: 1rem 1.5rem; 
   border-bottom: 1px solid var(--primary-color-2);
   justify-content: space-between;
}

header.app-header a{
   text-decoration: none;
   color: #FFF;
}

img.logo{
   height: 2.25rem;
}

nav.menu-start{
   column-gap: 1rem;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

nav.menu-start a{
   padding: 0.5rem 1rem;
   border-radius: 15px;
   font-weight: bold;
   border: 1px solid var(--primary-color);
}

nav.menu-start a:hover{
   border: 1px solid var(--primary-color-text);
}


@media screen  and (max-width: 600px) {
   img.logo{
      display: none;
      width: 0;
   }

   header.app-header{
      justify-content: center;
   }

   nav.menu-start{
      width: 100%;
      justify-content: space-around;
   }   
}