div.home-main-content{
   display: flex;
   flex-direction: column;
   width: calc(100vw - 2rem);
   height: calc(100vh - 3rem);
   min-height: 700px;
   justify-content: space-between;
   padding: 1rem 1rem 2rem; 
}


h1.logo-title{
   font-size: 3.5rem;
}


div.home-main-content h3{
   font-size: 1.5rem;
   font-weight: lighter;
}

article.info-about{
   display: flex;
   flex-direction: column;
   row-gap: 1.5rem;
   max-width: 34rem;
}

article.info-quote{
   display: flex;
   flex-direction: column;
   align-items: center;   
   row-gap: 0.5rem;
}


article.info-quote strong{
   font-size: 2.25rem;
}

article.info-quote h4{
   transform: translateX(200%);
}

section.login-parent,
section.login-parent-show{
   position: fixed;
   right: 0;
   top: 8rem;
   padding: 3.75rem;
   background-image: linear-gradient(to right, var(--primary-color-3), var(--primary-color-2));
   border-radius: 20px 0 0 20px;
   border: 2px solid var(--primary-color-2);
   display: flex;
   flex-direction: column;
   row-gap: 2rem;
   transform: translateX(100%);
   transition: transform 0.5s ease-out;
}

section.login-parent-show{
   transform: translateX(0);
}

section.main-info{
   display: flex;
   flex-direction: row;
   justify-content: center;
   column-gap: 3.75rem;
}

section.main-info h2{
   font-size: 2.625rem;
   font-weight: bold;
}

section.main-info p{
   font-size: 1.25rem;
   font-weight: lighter;
   line-height: 1.25;

}


section.main-info article{
   margin-top: 3rem;   
}

img.img-clock-main{
   width: 470px;
}

section.login-social{
   background-color: #F4F4F4;
   border-radius: 15px;
   box-shadow: 2px 2px 2px 1px #ebebeb;
   display: flex;
   flex-direction: column;
   padding: 1rem 2.25rem 2.25rem 2.25rem;
   align-items: center;
   row-gap: 0.5rem;
   max-width: 14rem;
}

section.demo-parent{
   display: flex;
   flex-direction: column;
   width: 100%;
   padding-top: 2rem;
   border-top: 1px solid var(--primary-color-5);
   margin-top: 2rem;
   text-align: center;
   row-gap: 1.5rem;
}

img.social-icon{
   width: 24px;   
}

button.btn-social-fb,
button.btn-social-go{
   width: 100%;
   box-shadow: 0 2px 2px 1px #70707064;
   border: 0;
   border-radius: 6px;
   background-color: #fff;
   padding: 0.5rem 1.5rem;
   cursor: pointer;
   display: flex;
   flex-direction: row;
   align-items: center;
   column-gap: 0.5rem;
   justify-content: center;   
   min-width: 14rem;
   min-height: 2.5rem;
}

button.btn-social-go:active{
   position: relative;
   top: 2px;
   left: 2px;
}

button.btn-social-fb{
   background-color: #1877F2;
   color: #FFF;
}

button.btn-social-fb:hover{
   background-color: #076CEE;
}

button.btn-social-go{
   color: #707070;
}

button.btn-social-go:hover{
   background-color: #fafafa;
}

section.login-social label{
   color: var(--primary-color-3);
   font-size: 1.5rem;
   font-weight: lighter;
   margin-bottom: 1rem;
}

img.main-logo{
   max-height: 3.75rem;   
   height: 3.75rem;   
}

img.small-logo{
   width: 4.5rem;
}

section.info-dev{
   display: flex;
   flex-direction: row;
   align-items: center;
   column-gap: 1rem;
   justify-content: flex-end;
}

img.clock-img{
   position: fixed;
   left: 0;
   bottom: 0;
   width: 800px;
   max-width: 800px;
   transform: translate(-30%, 30%);
   z-index: -999;   
   filter: invert(7%) sepia(63%) saturate(1977%) hue-rotate(208deg) brightness(88%) contrast(99%);
   opacity: 0.1;
}


div.parent-logo{
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   justify-content: space-between;
   cursor: default;
}

section.login-mobile{
   background-image: linear-gradient(to right, var(--primary-color-3), var(--primary-color-2));
   padding: 3rem 0;
   height: calc(100vh - 6rem);
   display: none;
}

div.login-mobile-content{
   padding: 1rem;
   display: flex;
   flex-direction: column;
   row-gap: 2rem;
   max-width: 19rem;
   justify-content: space-between;
   flex: 1;
}


a#gets-started-mob{
   display: none;
   width: 12rem;
   align-self: center;   
}


@media only screen  and (max-width: 1000px) {
   img.img-clock-main{
      display: none;
   }

   img.clock-img{
      width: 100%;
   }
   
}

div.actions-title-home{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   gap: 0.5rem;   
}



@media only screen  and (max-width: 768px) {

   div.home-main-content{
      width: calc(100vw - 2.5rem);
   }

   button#gets-started{
      display: none;
   }
   h1.logo-title{
      font-size: 2rem;
   }

   img.main-logo{
      height: 2rem;
   }

   section.login-mobile{
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   div.parent-logo{
      flex-direction: column;
      row-gap: 1rem;
      width: 100%;
      align-items: center;
   }

   section.info-dev{
      justify-content: center;
   }

   section.info-dev img{
      display: none;
   }
   
   section.info-dev-mobile img{
      display: none;
   }

   button#gets-started-mob{
      display: inline-block; 
   }

   a#gets-started-mob{
      display: flex;
   }

   article.info-quote h4{
      transform: none;
   }

   section.login-parent,
   section.login-parent-show{
      display: none;
   }

   
   div.actions-title-home{
      flex-direction: column-reverse;
      row-gap: 1rem;
      width: 14rem; 
   }  

   a#my-tasks-home{
      width: 12rem;
      align-self: center;
   }


}