button.btn-icon{
   background-color: transparent;
   border: 0;
   box-shadow: 0 0 2px 1px var(--primary-color-2);
   padding: 0.5rem;
   color: var(--primary-color-2);
   border-radius: 20px;
   cursor: pointer;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
}

button.btn-icon:hover{
   background-color: var(--primary-color-text);
   color: var(--primary-color);
}


div.av-select__control--is-focused,
div.av-select-error__control--is-focused{
    box-shadow: none;        
    border-color: #ebebeb;    
}

div.av-select__control,
div.av-select-error__control{
    border: 1px solid var(--primary-color);
    border-radius: 0;    
    background-color: var(--primary-color);
    color: var(--primary-color-text);
}

div.css-qc6sy-singleValue{
   color: var(--primary-color-text);
}


div.av-select__control:hover,
div.av-select__control--is-focused:hover,
div.av-select-error__control:hover,
div.av-select-error__control--is-focused:hover{
    border: 1px solid #707070;
}

div.av-select__control--is-focused,
div.av-select-error__control--is-focused{    
    border: 1px solid #707070;
}

div.av-select__option{
   background-color: var(--primary-color-3);
}

div.av-select__option--is-focused,
div.av-select-error__option--is-focused{
    background-color: var(--primary-color-2);
}

div.av-select__option--is-selected,
div.av-select-error__option--is-selected{
    background-color: var(--primary-color-text);
    color: var(--primary-color-4);
}

div.av-select__menu{
   background-color: var(--primary-color-3);
}

button.btn-action,
button.btn-link,
a.link-action,
button.btn-link-nopad{
    padding: 0.5rem 1rem;
    border-radius: 16px;
    border: 1px solid var(--primary-color);
    cursor: pointer;
    transition: 0.2s ease-in;
    font-size: 0.8258rem;   
}

a.link-action{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-decoration: none;
    padding: 0.5875rem 1rem;

}

button.btn-action,
a.link-action{
    background-color: var(--primary-color-text);
    color: var(--primary-color);
    border: 1px solid var(--primary-color-text);
    font-weight: bold;
}

a.link-white{
    text-decoration: none;
    color: var(--primary-color-text);
}

button.btn-action:hover,
a.link-action:hover{
    background-color: #BABABA;   
    border: 1px solid #BABABA;
    box-shadow: 1px 1px 2px 1px var(--primary-color-4);
}

button.btn-action:active,
a.link-action:active{
    position: relative;
    top: 2px;
    left: 2px;
}

button.btn-link,
button.btn-link-nopad{
    background-color: transparent;    
    color: var(--primary-color-text);
    font-weight: bold;
}

button.btn-link:hover,
button.btn-link-nopad:hover{
    background-color: var(--primary-color-2);   
    color: var(--primary-color-text);
}

button.btn-link-nopad{
    padding: 0;
    border-radius: 0;
    border: 0;
}


input.inp-form{
    border-bottom: 1px solid var(--primary-color-2);
    border-radius: 0;
}


input.inp-form:focus,
input.inp-form:active,
input.inp-form:hover{
    border-radius: 6px;
}

label.inp-form{
    font-size: 0.75rem;
}

p.error-message{
    color: #FF0000;
    text-align: center;
}

p.error-message-primary{
    color: #ff4d6d;
    text-align: center;
}

label.lb-75{
    font-size: 0.75rem;
}

button.btn-logout{
    min-width: 10rem;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    background: var(--primary-color);
    outline: none;
    border: 1px solid var(--primary-color-2 );
    color: var(--primary-color-text);
    font-weight: bold;
    cursor: pointer;   
    transition: 0.2s ease-in;
    font-size: 0.825rem;   
 }
 
 button.btn-logout:hover{
    background: var(--primary-color-text);  
    color: var(--primary-color);
 }

 button.btn-icon-menu{
    border: 0;
    outline: none;
    background: none;
    color: var(--primary-color-text);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 50%;
    cursor: pointer;
 }

 button.btn-icon-menu:hover{
    background-color: var(--primary-color-3);
 }

 button.btn-close-dialog{
     position: fixed;
     top: 0.5rem;
     right: 0.5rem;
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 0;
     border: 0;
     outline: none;
     background: transparent;
     color: var(--primary-color-text);
     cursor: pointer;
 }


 button.btn-check,
 button.btn-check-checked{
     border: 1px solid var(--primary-color);
     background-color: var(--primary-color);
     color: #FAFAFA;
     padding: 0.5rem 1rem;
     outline: none;
     cursor: pointer;
 }

 button.btn-check:active,
 button.btn-check-checked:active{
     position: relative;
     top: 2px;
     left: 2px;
 }

 button.btn-check:hover{
     background-color: var(--primary-color-2);
     border: 1px solid var(--primary-color);
 }

 button.btn-check-checked{
    border: 1px solid var(--primary-color-2);
    background-color: var(--primary-color-4);
 }

 button.btn-check-checked:hover{
    background-color: var(--primary-color-3);
 }